<div class="restaurant section">
    <div class="columns">
        <div class="column is-one-third restaurant-box">
            <h3 class="title is-5">
                {{restaurant.name}}
            </h3>
            <hr/>
            <p>{{restaurant.email}}</p>
            <p>{{restaurant.phoneNumber}}</p>
        </div>
        <div class="columns is-multiline">
            <div class="column box is-one-third" marginBottom="30px" 
                *ngFor="let product of products">
                <img src="https://picsum.photos/id/1080/200/200" class="is-200x200" alt="products">
                <h6 class="subtitle">{{ product.name }}</h6>
                <p class="price"><b>Precio:</b> {{ product.price.toFixed(2) }}</p>
                <button class="button is-primary">Ordenar</button>
            </div>
        </div>
    </div>
</div>