<div>
    <h1 class="is-size-1">Orden!</h1>
    <div *ngFor="let order of orders"> 
        <p class="has-text-weight-bold	is-size-6">{{order.name}}</p>
        <p>Precio: S/{{order.price}}</p>
        <p>Cantidad: {{order.ammount}}</p>
        <hr class="dashed">
    </div>
    <p *ngIf="!orders.length">
        Aun no ha agregado productos a su carrito
    </p>
    <button *ngIf="orders.length" (click)="clean()" class="button has-text-centered is-fullwidth is-info">
        Clear
    </button>
</div>