<div class="columns is-mobile">
   <app-search-filter></app-search-filter>
    <div class="column">
        <h2>Resultados para <b>{{query}}</b> en:</h2>
        <div class="content-carousel ">
            <div class="elements">
                <ul content="" class="suggested-stores-content is-flex">
                    <li class="ng-star-inserted"><span class="circle"></span><a class="rounded-img"
                            href="/restaurantes/gusto-para-su-paladar"><img class="logo-store"
                                src="https://images.rappi.pe/restaurants_logo/captura-1592844495323.png?d=70x70&amp;e=webp"></a>
                        <p title="Gusto Para su Paladar">Gusto Para su Paladar</p>
                    </li>
                    <li class="ng-star-inserted"><span class="circle"></span><a class="rounded-img"
                            href="/restaurantes/vivaldino-restaurante"><img class="logo-store"
                                src="https://images.rappi.pe/restaurants_logo/vivaldino-1603159022515.png?d=70x70&amp;e=webp"></a>
                        <p title="Vivaldino Restaurante">Vivaldino Restaurante</p>
                    </li>
                    <li class="ng-star-inserted"><span class="circle"></span><a class="rounded-img"
                            href="/restaurantes/cali"><img class="logo-store"
                                src="https://images.rappi.pe/restaurants_logo/cali-1582305464244.png?d=70x70&amp;e=webp"></a>
                        <p title="Cali ">Cali </p>
                    </li>
                    <li class="ng-star-inserted"><span class="circle"></span><a class="rounded-img"
                            href="/restaurantes/nocturnos-texmex"><img class="logo-store"
                                src="https://images.rappi.pe/restaurants_logo/noc-1598886802514.png?d=70x70&amp;e=webp"></a>
                        <p title="Nocturnos Tex-Mex">Nocturnos Tex-Mex</p>
                    </li>
                    <li class="ng-star-inserted"><span class="circle"></span><a class="rounded-img"
                            href="/restaurantes/ruta-84-fast-food-truck"><img class="logo-store"
                                src="https://images.rappi.pe/restaurants_logo/ruta-84-logo-1-1602092430212.png?d=70x70&amp;e=webp"></a>
                        <p title="Ruta 84 Fast &amp; Food Truck">Ruta 84 Fast &amp; Food Truck</p>
                    </li>
                    <!---->
                    <!---->
                </ul>
            </div>
            <!---->
        </div>
    </div>
</div>