<div class=" has-text-centered">
    <figure class="is-250x250">
        <img 
            src="https://picsum.photos/id/1080/250/250" 
            class="is-rounded" 
            alt="product">    
    </figure>
    <h2>{{product.name}}</h2>
    <p>S/.{{product.price}}</p>
    <div *ngIf="access" class="row">
        <button [routerLink]="['/products/edit', id]"  class="button is-link">
            Editar Producto
        </button>
        <button (click)="borrarCofirmacion()" class="button is-danger">
            Borrar Producto
        </button>
    </div>
    <div class="container">
        <button (click)="agregarAlCarrito()"  class="button is-link">
            Agregar al Carrito
        </button>
    </div>
</div>
<div class="modal ">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Save changes</button>
        <button class="button">Cancel</button>
      </footer>
    </div>
</div>

